html, body {
	background-color: #364150;
	font: 13px Tahoma;
	color: #fff;
	margin: 0;
	padding: 0;
}

/*
 *  MAIN PAGE
 */

a {
	color: #4db3a5;
	text-decoration: none;
}

#content {
    border: 2px solid #364150;
    border-radius: 10px;
    padding: 10px;
}

button {
	color: #fff;
	background-color: #364150;
	font-weight: 600;
	padding: 10px 20px;
	font-size: 16px;
	border: 4px solid #4db3a5;
	outline: none;
	cursor: pointer;
	transition: .5s ease;
}

button:hover {
	background-color: #4db3a5;
}

input[type="text"], textarea, select {
	display: block;
	background-color: #fff;
	height: 33px;
	color: #000;
	border: 1px solid #dde3ec;
	width: 95%;
	padding-left: 10px;
	font-size: 15px;
	outline: none;
	margin-bottom: 10px;
}
textarea {
	height: auto;
}

#main-container {
	width: 1024px;
	margin: 0 auto;
}

#main-container > #left {
	width: 20%;
	display: inline-block;
	margin-right: 20px;
	padding: 10px;
	vertical-align: top;
}

#main-container > #right {
	width: 73%;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
}

#right > section {
	background-color: #eceef1;
	color: #000;
	padding: 20px;
}

#right > section h3 {
	color: #4db3a5;
	font-size: 22px;
	margin: 0 0 20px 0;
	padding: 0;
}

#right label {
	margin-bottom: 5px;
	margin-left: 5px;
	display: block;
}

#right > article {
	background-color: #eceef1;
	color: #000;
	padding: 20px;
	margin-top: 10px;
}
#right > article.comment {
	background-color: #fff;
}
#right > article > header  {
	font-size: 18px;
	font-weight: normal;
	padding: 0 0 10px 0;
}

#left > section {
	padding: 10px;
	width: 100%;
}
#left > section > header {
	font-size: 18px;
	font-weight: normal;
}
#left > section > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#left > section > ul > li a {
	display: block;
	padding: 10px 10px;
	background-color: #eceef1;
	border-bottom: 1px solid #000;
	transition: .5s ease;
}

#left > section > ul > li a:hover {
	background-color: #4db3a5;
	color: #000;
}

footer {
	background-color: #eceef1;
	text-align: center;
	color: #000;
	padding: 10px;
	font-size: 12px;
	height: 20px;
}

/*
 *  LOGIN PAGE
 */

#login-container {
	width: 400px;
	margin: 40px auto 40px auto;
	color: #fff;
}
#login-container > h3 {
	font-weight: normal;
	text-align: center;
	font-size: 25px;
}

.login-container-main {
	background-color: #eceef1;
	padding-bottom: 20px;
}
.login-container-main > h3 {
	color: #4db3a5;
	text-align: center;
	font-size: 22px;
	font-weight: normal;
	padding: 10px;
}

.login-container-main > form {
	margin: 0 auto;
	width: 80%;
	color: #8290a3;
}
.login-container-main  > form > input {
	margin-bottom: 10px;
}
.login-container-main input[type="text"], .login-container-main input[type="password"],
.login-container-main input[type="email"] {
	display: block;
	background-color: #dde3ec;
	height: 43px;
	color: #8290a3;
	border: 1px solid #dde3ec;
	width: 100%;
	padding: 0px 5px 0px 10px;
	font-size: 15px;
	outline: none;
}

input[type="submit"] {
	color: #fff;
	background-color: #45B6AF;
	border-color: #3ea49d;
	font-weight: 600;
	padding: 10px 20px;
	font-size: 16px;
	border: 0;
	outline: none;
	cursor: pointer;
}

#changeForm {
	background-color: #6c7a8d;
	padding: 15px 0 17px 0;
	text-align: center;
}
#changeForm > a {
	color: #c3cedd;
	font-weight: 600;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
}
#changeForm > a:hover {
	text-decoration: underline;
}
/*style showing username in index*/
#showUsername {
	font-size: 12px;
	float: right;
	padding-top:20px;
}
#showUsername strong{
	font-size: 20px;
	font-style: italic;
}

#add-comment > textarea {
	width: 98%;
	margin-top: 10px;
}

#add-comment > h3 {
	color: #4db3a5;
}

.user {
    color: #4db3a5;
}

.comment {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}






footer div {
	float: right;
}
footer div img {
	width:25px;
	height: 25px;
}
footer div img:hover {
	cursor: pointer;
	opacity: 0.3;
	border: 1px solid white;
}